@page "/"
@inject IFileSystemAccessService FileSystemAccessService

<PageTitle>less-for-web</PageTitle>

@if (supported is null) {
    <h2>...</h2>
    return;
}

@if (supported is false) {
    <code><h2>The File System Access API is not supported in your browser. It is supported in Chrome for desktop.</h2></code>
    return;
}

@code {
    bool? supported = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        supported = await FileSystemAccessService.IsSupportedAsync();
        StateHasChanged();
    }
}